<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Properties>
       <Property name="consolePattern">%highlight{%d{HH:mm:ss} [%t] [%-5level]: %msg %throwable{short.fileName}
           %throwable{short.methodName}}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green}</Property>
        <Property name="filePath">reports/log4j/</Property>
        <Property name="singleTestFilePath">reports/log4j/allTests/</Property>
        <Property name="filePattern">%d{HH:mm:ss.SSS} %-5p [%t] %C{2} (%F:%L) - %m%n</Property>
        <Property name="date">%d{HH:mm:ss.SSS}</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${consolePattern}"></PatternLayout>
        </Console>

        <RollingFile name="allTestsLogs" fileName="${filePath}MainLogger.log" filePattern="${filePath}MainLogger.log">
            <PatternLayout>${filePattern}</PatternLayout>
                <SizeBasedTriggeringPolicy>5MB</SizeBasedTriggeringPolicy>
            <DefaultRolloverStrategy>
                <Delete basePath="${filePath}" maxDepth="2">
                    <IfFileName glob="MainLogger.log" />
                    <IfLastModified age="1m" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <Routing name="PerTestRouting">
            <Routes pattern="${filePath}/perTest/${sys:testLogFileName}">
                <Route key="${filePath}/perTest/${sys:testLogFileName}">
                    <File name="PerTestLog"
                          fileName="reports/log4j/perTest/${sys:testLogFileName}.log"
                          append="false">
                        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
                    </File>
                </Route>
            </Routes>
        </Routing>

    </Appenders>
    <Loggers>

        <Logger name="logs" level="info" additivity="false">
            <AppenderRef ref="PerTestRouting"/>
            <AppenderRef ref="allTestsLogs"/>
            <AppenderRef ref="console"/>
        </Logger>
        <Root level="info" additivity="false">
            <AppenderRef ref="PerTestRouting"/>
            <AppenderRef ref="allTestsLogs"/>
            <AppenderRef ref="console"/>
        </Root>

    </Loggers>
</Configuration>