<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite" parallel="tests" thread-count="4">
    <listeners>
        <listener class-name="engine.listeners.TestNgListener"/>
        <listener class-name="engine.listeners.TransformListener"/>
    </listeners>
    <test name="edge tests">
        <parameter name="browser" value="edge"/>
        <parameter name="osVersion" value="11"/>
        <parameter name="browserVersion" value="latest"/>
        <parameter name="os" value="Windows"/>
        <classes>
            <class name="tests.AutomationPlaygroundTests"/>
        </classes>
    </test> <!-- Test -->
    <test name="firefox tests">
        <parameter name="browser" value="firefox"/>
        <parameter name="osVersion" value="10"/>
        <parameter name="browserVersion" value="latest"/>
        <parameter name="os" value="Windows"/>
        <classes>
            <class name="tests.AutomationPlaygroundTests"/>
        </classes>
    </test> <!-- Test -->
    <test name="chrome tests ">
        <parameter name="browser" value="chrome"/>
        <parameter name="osVersion" value="8.1"/>
        <parameter name="browserVersion" value="latest"/>
        <parameter name="os" value="Windows"/>
        <classes>
            <class name="tests.AutomationPlaygroundTests"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->